<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astronomy Picture of the Day</title>
</head>
<body>
    <h1>Astronomy Picture of the Day</h1>
    {% if apod_data %}
        <img src="{{ apod_data.url }}" alt="APOD">
        <h2>{{ apod_data.title }}</h2>
        <p>{{ apod_data.explanation }}</p>
    {% else %}
        <p>Failed to fetch Astronomy Picture of the Day data.</p>
    {% endif %}
    <br>
    <a href="{{ url_for('index') }}">Back to Entries</a>
</body>
</html>
